.container {
  text-align: center;
}

.profile-pic {
  width: 300px;
  border-radius: 50%;
}
.follow {
  display: flex;
  align-items: center;
  justify-content: center;
}
a,
a:visited {
  color: #000;
  text-decoration: none;
}
